@azul: #75FD69;
@verde: #3CFAE6;
@mouseHover: #22056F;

.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  text-align: right;
  background-color: @azul;
  color: black;
  .margenes(50px, 0px); 
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @verde;
  .margenes(10px, 0px); 
  }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px); 
  }

.btn-reserva {
  width: 100px;
  border-radius: 0px; }

img {
  width: 100%;
  height: 250px; }

a {
  color: black; }

a:hover {
  color: @mouseHover; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 15px; }
