.jumbotron {
  text-align: right;
  background-color: #75FD69;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #3CFAE6;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100px;
  border-radius: 0px;
}
img {
  width: 100%;
  height: 250px;
}
a {
  color: black;
}
a:hover {
  color: #22056F;
}
.footer-addres-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 15px;
}
