$azul: #FFFFFF;
$verde: #3CFAE6;
$mouseHover: #22056F;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	text-align: right;
	background-color: $azul;
	color: black;
	@include margenes(50px, 0px);
}
footer{
	padding: 10px 10px 0 10px;
	background-color: $verde;
	@include margenes(10px, 0px);
}
.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-reserva{
	width: 100px;
	border-radius: 0px;
}
img{
	width: 100%;
	height: 250px;
}
a{
	color: black;
}
a:hover{
		color: $mouseHover;
	
}

.footer-addres-icon{
	padding-right: 10px;
}
.tab-content{
	padding-top: 15px;

}